.acf-hero {
	background-position: center;
	background-size: cover;
	max-width: 100%;
	padding: 50px 30px;

	.wrap {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
		max-width: 1280px;
	}

	.overlay {
		max-width: 720px;
		padding: 40px;

		@media only screen and (min-width: 961px) and (max-width: 1280px) {
			margin-top: 200px;
		}

		.button-wrap {
			margin-bottom: 0;
			text-align: center;

			@media only screen and (min-width: 600px) {
				text-align: inherit;
			}

			a {
				margin-top: 3em;
				padding-bottom: 15px;
				padding-top: 15px;
			}
		}
	}

	header {
		margin-bottom: 40px;

		h2 {
			color: $white;
			margin-top: 0;
		}

		p {
			color: $white;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
